.skills {
  font-size: 24px;
  box-shadow: 2px 2px 10px 0px black;
  background-color: rgb(50, 50, 50);
  width: 100%;
  padding: 2em 0 2.1em 0;
  .title-page {
    text-align: left;
    margin-bottom: 5%;
  }

  &-content{
    display: flex;
    justify-content: center;
    align-items:center
  }
  &-list{
    display: grid;
    justify-content: center;
    width: 80%;
    gap: 1.5vw;
    grid-template-columns: repeat(5, .5fr);
    transition: gap .5s linear;
    animation: blockSTART .9s linear;

  }
  &-item{
    display: flex;
    box-shadow:3px 2px 10px 2px black;
    flex-direction: column;
    height: 7vw;
    padding: 20px;
    background-color:rgb(118, 118, 118);
    opacity: .9;
    align-items:center;
    justify-content: center;
 
    &:hover{
      cursor: pointer;

      transition: all .4s ease;
      
      path{
        animation: HoverItem 1s linear forwards;
      }
    }
  }

  &-icon{
    div{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    svg{
      width: 6vw;
      height: auto;
    }
    path{
      fill:white;
      color:white;
      opacity: 0.2;
    }
  }
}


@keyframes HoverItem{
  0%{
    fill:var(--second-color);
    color:var(--second-color);
    opacity: .4;
  }
  100%{
    fill:var(--second-color);
    color:var(--second-color);
    opacity: 1;
  }
}
@media screen and (max-width: 1430px){
  .skills-list {
    grid-template-columns: repeat(3, 0.5fr);
  }
  .skills-item{
    height: 9vw;
  }
  .skills-icon svg{
    width: 7vw;
  }
}

@media screen and (max-width: 1023px){
  .skills-list {
    grid-template-columns: repeat(3, 0.5fr);
  }
  .skills-item{
    height: 11vw;
  }
  .skills-icon svg{
    width: 9vw;
  }
}

@media screen and (max-width: 800px){
  .container:has(.skills){
    padding: 10% 7% 0 7%;
  }
  .skills-list {
    grid-template-columns: repeat(2, 0.5fr);
  }
  .skills-item{
    height: 15vw;
  }
  .skills-icon svg{
    width: 13vw;
  }
}