html {
  scroll-behavior: smooth;
}

:root {
  --gradient:linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
}

body {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  background: rgb(63, 0, 255);
  background: #aa4b6b; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* Chrome 10-25, Safari 5.1-6 */
  background: var(--gradient);
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1440px;
  height: auto;
  margin: auto;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.navbar {
  box-shadow: 10px 5px 5px transparent;
  background: white;
}

.navbar_inner {
  display: flex;
  font-size: 20px;
  padding: 1em 0;
  align-items: center;
  justify-content: center;
}

.nav_item {
  display: none;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0 0.9em;
  color: white;
  text-decoration: none;
  transition: all 0.6s ease;
  background-image: linear-gradient(-225deg, #3b8d99 0%, #6b6b83 29%, #aa4b6b 67%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.nav_item:hover {
  animation: textclip 1s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.intro {
  box-sizing: content-box;
}

.intro_Showcase {
  width: 100%;
}

.intro_Showcase_inner {
  display: flex;
  transition: all 0.5s linear;
}

.intro_inner {
  overflow: hidden;
  width: 90vw;
  max-width: 1400px;
  margin: 2% auto;
  font-size: 30px;
}

.intro_item {
  border-radius: 20px;
  background: white;
  text-align: center;
  width: 100%;
  max-height: 18em;
  padding: 2%;
  border: 1px solid black;
}
.intro_item img {
  border-radius: 10px;
  border: 2px solid black;
  width: 85%;
  height: auto;
  transition: all 0.2s linear;
  filter: grayscale(100%);
  cursor: pointer;
}
.intro_item img:hover {
  filter: grayscale(0%);
}

.intro_item_title {
  text-align: left;
  margin: 0.2em 0;
}

.container_tag {
  display: flex;
  font-size: 0.8em;
}

.tag {
  margin-right: 0.4em;
}

.intro_contect {
  margin: 0 7%;
}

.carousel-indicators {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators .dot {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 1em;
  height: 6px;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.Contact {
  font-size: 20px;
}
.Contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.Contact .Contact_inner {
  background-color: white;
  padding: 2em 1em;
}
.Contact .social_icon {
  color: black;
  font-size: 1.2em;
  transition: all 0.5s;
}
.Contact .social_icon:hover {
  background-image: linear-gradient(-225deg, #3b8d99 0%, #6b6b83 29%, #aa4b6b 67%);
  background-clip: border-box;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content_contact {
  margin: 0 10%;
}

.social_container {
  margin-top: 1em;
}