
.AboutMe{
  font-size: 24px;
  box-shadow: 2px 9px 10px 0px black;
  background-color: rgb(50, 50, 50);

  width: 100%;
  padding: 2.5em 1em;
  margin-bottom: 2em;
  span{
    color:var(--second-color);
  }
  &-content{
    display: flex;
    gap: 15px;
    flex-flow: column;
    font-size: 18px;
    line-height: 133.34%;
    word-spacing: 100%;
    p{
      word-spacing: 5px;
    }
    ul{
      p{
        padding-bottom: 15px;
      }
      li{
        color:var(--second-color);
        padding: 3px 0;
        &::before{
          content: '-';
          margin-right: 5px;
          color:var(--second-color);
        }
      }
    }
  }
}

