@import 'reset-css';
@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Orbitron:wght@400..900&family=Russo+One&family=Workbench&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Workbench&display=swap');


@font-face {
  font-family: "Neuropol";
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Neuropol"),
       url("./fonts/Neuropol.ttf");
}
@font-face {
  font-family: "dudka-regualr";
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Dudka"),
       url("./fonts/dudka/Dudka\ Regular.ttf");
}

body{
  background: radial-gradient( rgb(68, 67, 67), rgb(29, 29, 29));
  height: 100%;


}
body, html, #root{
  color: #202020;
  font-size: var(--main-size-text );
  font-family: dudka-regualr, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  overflow-x: hidden;

}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: FiraCode, sans-serif;
  font-weight: bold !important;
  color:#ffff;
  font-size: 18px;
}
// * {
//   outline: none;
// }
.container{
  max-width: 1400px;
  padding: 0 6% 0 6%;
  margin: auto;

  &:nth-child(2){
    padding: 3% 6% 0 6%;
  }
}

.title-page{
  font-size: 52px;
  text-decoration: underline 1.5px;
  margin-bottom: 15px;
  word-spacing: 15px;
}
.fade{
  transform: translate(-50% -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin:top right;
  &-enter{
    animation:appearance-page 1s forwards;
  }
  &-enter-active{

  }
  &-exit {
    opacity: 0;
  }
  &-exit-active {


  }

  
  @keyframes appearance-page{
    0%{
      opacity: 0;
      top: -100%;
    }
    50%{
      opacity: 1;
    }
    100%{
     top: 50%;
    }
}
}
.modal-clipboard{
  position: absolute;
  font-size: 40px;
  top: 30%;
  left: 30%;
  transform: translate(-60%, -50%);
  background:#636262;
  padding: 3% 15%;
  color:var(--second-color);
  box-shadow: 3px 7px 11px black;
  transform-origin: top;
  animation: appearanceError .5s forwards;
}


.textWithUnderline {
  background: -webkit-linear-gradient(right, #b2eca6, var(--second-color));
    
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition:  background-size 0.5s ease;
  cursor: pointer;
  &:hover{
    background-size:90% 3px;

    background-position:center bottom;
  }
}