.Portfolio{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 24px;
  margin-bottom: 2em;

  width: 100%;
  color: black;
  
 
  &-content{
    display: flex;
    flex-direction: column;
    gap: 10%;
    width: 100%;
    height: 70%;
    margin-top: 2%;
  }
  
  &-item{
    
    box-shadow: 2px 9px 10px 0px black;
    background-color: rgb(50, 50, 50);
    padding: 1.9em 1.5em 0 1.5em;
    margin-bottom: 2em;
    max-height: 700px;
    overflow: hidden;
    &-text{
      font-size: 0.6em;

      h1{
        font-size: 1.7em;
        font-weight: 700;
      }

      h1, p {
        margin-bottom: .8em;
      }
      p{
        font-size: .9em;
        font-weight:lighter;
        word-spacing: .4em;
        line-height: 1.7em;
      }
    }

    &-imgContainer{

      width: 80%;
      margin: 2em auto 0 auto;
      display: grid; 
      grid-template-columns: 35% 62%; 
      grid-template-rows: 35% 35%; 
      gap: 1em; 
      grid-template-areas: 
        "two one"
        "three one"; 
    }

  }
 
  
}

.Portfolio-imgContainer{
  clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
  img{
    width: 100%;
    object-fit: cover;
  }
}


.two {
   grid-area: two;
   background: #000;
   }

.three { 
  grid-area: three;
  background: red;
 }

.one { 
  grid-area: one;
  background:blue;
 }
.Portfolio_links{
  .Portfolio_link {
    img{
      width: 100%;
    }
  }
}

@media screen and (min-width:1400px){
  .Portfolio{
    padding: 0;
  }
  .Portfolio-info{
    padding-left: 2%;
    padding-right: 2%;
  }

  .container{
    padding: 10% 0;
  }
}

@media screen and (max-width: 1082px){
  .Portfolio{
    padding-top: 12% ;
  }
  .Portfolio-info{
    padding-left: 2%;
    padding-right: 2%;
    
  }

  .skeleton{
    &-img{
      height: 15vw;
      width: 19vw;
    }
    &-name{
      width: 13vw;
      height: 1.5vw;
    }
    &-line{
      width: 19vw;
    }
    &-text{
      width: 12vw;
      height: 8vw;
      &::before{
        width: 15vw;
        height: 2vw;
        bottom: 3vw;
      }
      &::after{
        width: 17vw;
        height: 3vw;
      }
    }
    &-social{
      &-icon{

      }
    }
  }
}

@media screen and (max-width: 900px){
  .Portfolio{
    padding-top: 12vh;
  }
  .Portfolio .social button {
    width: 8vw;

  }
  .Portfolio .social button img {
    width: 5vw;
}
  .Portfolio-content{
    flex-direction: column;
  }
  .Portfolio-info{
    width: 100%;
    p{
      font-size: 2.5vw;
    }
    h3{
      font-size: 4vw;
    }
  }
  .Portfolio-list{
    margin-bottom: 9%;
  }
  .skeleton{
    &-img{
      height: 29vw;
      width: 60vw;
    }
    &-name{
      width: 25vw;
      height: 2.5vw;
    }
    &-line{
      width: 60vw;
    }
    &-text{
      width: 44vw;
      height: 22vw;
      &::before{
        width: 53vw;
        height: 12vw;
        bottom: 5vw;
      }
      &::after{
        width: 56vw;
        height: 8vw;

      }
    }
    &-social{
      margin-top: 5%;
      &-icon{

      }
    }
  }
}